*{

    padding: 0px;
    margin: 0px;
}

#wrapper{
    border: solid; padding: 10px;
}
#header{

    height: 100px; background-color: burlywood; padding: 10px;

}
#logo{

    height: 100px;
    width: 100px;
    background-color: brown;
}
#navbar{
    background-color: cadetblue;
    height: 50;
    margin-top: 10px;

}

#container{
    margin-top: 10px;


}
#container::after{
    content: "";
    display: block;
    clear: both;
}
#left-section
{
    width: 25%;
    height: 300px;
    background-color: beige;
    float:left;

}
#right-section{
    width: 73%;
    background-color: darkseagreen;
    height: 300;
    float: right;
    }

#footer{
    height: 100px;
    background-color: darkgrey;
    margin-top: 10px;
}
