<HTML>
<head>
    <title>Div Tag</title>
    </head>
    <link rel="stylesheet" href="../../CSS/mysementic.css">

<body>

    <!-- Wrapper contain whole web Page-->

<div id="wrapper">

    <!-- header-->
    <header>
        <div id = "logo">
        </div>
    </header>

     <!-- Navigation Bar-->
    <nav>
    </nav>

    <!-- Container Section-->
    <main>

        <!-- Inner Section-->
        <section>
            <article>

            <!-- Artical-1 -->

            </article>

            <article>
            <!-- Artical-2 -->
            </article>
        </section>

        <!-- Side Artical-->
        <aside>
            <iframe src="../image/imagemap.html" name="c-frame" height="100%" width="100%"></iframe>
        </aside>
    </main>

    <footer>

    <!-- Footer-->
        <h1 style="text-align: center">
        <a href="../formating/Formatting.html" target="c-frame">Mysite</a></h1>
    </footer>


</div>


</body>
</HTML>
